In [2]:
import pandas as pd
import numpy as np

In [3]:
# Read in study incremental test from subject 1
df1_inc = pd.read_csv('../data/data_int/sbj_1_incremental.csv')
df1_inc.head(3)

   time  Power   Oxygen  Cadence    HR    RF
0     3    0.0  602.000      0.0  86.0  16.0
1     4    0.0  578.125      0.0  86.0  16.0
2     5    0.0  558.750      0.0  86.0  16.0

In [4]:
# Set 'time' as the index
df1_inc.set_index('time', inplace= True)

In [5]:
# Add training time and hr_p_fatigue features (Session training time and heart rate power fatigue)
df1_inc['session_time'] = range(0, len(df1_inc))

df1_inc['hr_p_fatigue'] = df1_inc['HR'] - (df1_inc['Power'] * 0.25)

In [6]:
df1_inc.head()

      Power    Oxygen  Cadence    HR    RF  session_time  hr_p_fatigue
time
3       0.0  602.0000      0.0  86.0  16.0             0          86.0
4       0.0  578.1250      0.0  86.0  16.0             1          86.0
5       0.0  558.7500      0.0  86.0  16.0             2          86.0
6       0.0  542.1875      0.0  86.0  16.0             3          86.0
7       0.0  527.5000      0.0  86.0  16.0             4          86.0

In [7]:
# Check for nulls and check data types
print(df1_inc.isnull().sum())

print(df1_inc.dtypes)

Power           0
Oxygen          0
Cadence         0
HR              0
RF              0
session_time    0
hr_p_fatigue    0
dtype: int64
Power           float64
Oxygen          float64
Cadence         float64
HR              float64
RF              float64
session_time      int32
hr_p_fatigue    float64
dtype: object

In [8]:
# Save out
df1_inc.to_csv('../data/cleaned_study_data/sub1_inc_clean.csv')

## GC Dataset 1

In [9]:
# Read in gc file 1
gc1_df = pd.read_csv('../data/gc_data/2019_04_09_22_21_05.csv')

In [10]:
gc1_df.head(3)

   secs  km  power  hr  cad    alt
0     0   0     95  96   80  699.4
1     1   0     99  97   83  699.6
2     2   0    125  96   86  699.6

In [12]:
# Set 'time' as the index
gc1_df.set_index('secs', inplace= True)

In [16]:
# Drop the km and altitude columns (This is a stationary trainer dataset)
gc1_df.drop(labels= ['km', 'alt'], axis= 1, inplace= True)

In [17]:
# Add training time and hr_p_fatigue features (Session training time and heart rate power fatigue)
gc1_df['session_time'] = range(0, len(gc1_df))

gc1_df['hr_p_fatigue'] = gc1_df['hr'] - (gc1_df['power'] * 0.25)

In [18]:
gc1_df.head()

      power  hr  cad  session_time  hr_p_fatigue
secs
0        95  96   80             0         72.25
1        99  97   83             1         72.25
2       125  96   86             2         64.75
3       191  96   90             3         48.25
4       230  97   90             4         39.50

In [19]:
# Check for nulls and check data types
print(gc1_df.isnull().sum())

print(gc1_df.dtypes)

power           0
hr              0
cad             0
session_time    0
hr_p_fatigue    0
dtype: int64
power             int64
hr                int64
cad               int64
session_time      int32
hr_p_fatigue    float64
dtype: object

In [20]:
# Save out
gc1_df.to_csv('../data/cleaned_gc_data/gc1.csv')